automation/n8n/workflows/example_job_notification.json
{
  "name": "AI Career Agent — Job Notification",
  "description": "Example n8n workflow: receives a job notification webhook and routes it to email/Slack/Telegram.",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "job-notification",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "filter-high-match",
      "name": "Filter High Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.match_score}}",
              "operation": "larger",
              "value2": 8
            }
          ]
        }
      }
    },
    {
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 250],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=New High Match Job!\n\nTitle: {{$json.title}}\nCompany: {{$json.company}}\nScore: {{$json.match_score}} ({{$json.match_level}})\nURL: {{$json.url}}"
            }
          ]
        }
      }
    },
    {
      "id": "note-disabled",
      "name": "NOTE: Configure channels",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 250],
      "notes": "Add email, Slack, or Telegram nodes here. This workflow is a template — not yet connected to live channels."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Filter High Match", "type": "main", "index": 0 }]
      ]
    },
    "Filter High Match": {
      "main": [
        [{ "node": "Format Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Message": {
      "main": [
        [{ "node": "NOTE: Configure channels", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
